
/* START TYPOGRAPHY */

/* END TYPOGRAPHY */

/* START COMPONENTS */

/* Component: components.MuiButton */
.REC-MuiButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  outline: 0;
  border: 0;
  margin: 0;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  text-decoration: none;
  font-family: 'Roboto','Helvetica','Arial,sans-serif';
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  min-width: 64px;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  padding: 6px 8px;
  background-color: transparent;
}

/* Component: components.MuiButton.rules.hover=true */
.REC-MuiButton:hover {
  text-decoration: none;
}
/* End Component: components.MuiButton.rules.hover=true */

/* Component: components.MuiButton.rules.disabled=true */
.REC-MuiButton:disabled {
  color: #bdbdbd;
  pointer-events: none;
  cursor: default;
}
/* End Component: components.MuiButton.rules.disabled=true */

/* Component: components.MuiButton.rules.disableElevation=true */
.REC-MuiButton-1r1nej7mj {
  box-shadow: none;
}
/* End Component: components.MuiButton.rules.disableElevation=true */

/* Component: components.MuiButton.rules.fullWidth=true */
.REC-MuiButton-1r1smtp93 {
  width: 100%;
}
/* End Component: components.MuiButton.rules.fullWidth=true */

/* Component: components.MuiButton.rules.variant=contained */
.REC-MuiButton-1rp9byge {
  padding: 6px 16px;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}
/* End Component: components.MuiButton.rules.variant=contained */

/* Component: components.MuiButton.rules.variant=outlined */
.REC-MuiButton-1r194dxz1 {
  padding: 5px 15px;
}
/* End Component: components.MuiButton.rules.variant=outlined */

/* Component: components.MuiButton.rules.size=small */
.REC-MuiButton-1r1sb8oze {
  font-size: 0.8125rem;
  padding: 4px 10px;
}
/* End Component: components.MuiButton.rules.size=small */

/* Component: components.MuiButton.rules.size=large */
.REC-MuiButton-1rhu7b09 {
  font-size: 0.9375rem;
  padding: 8px 22px;
}
/* End Component: components.MuiButton.rules.size=large */

/* Component: components.MuiButton.variants.variant=contained,hover=true */
.REC-MuiButton-1vr8mk67:hover {
  background: #1565c0;
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}
/* End Component: components.MuiButton.variants.variant=contained,hover=true */

/* Component: components.MuiButton.variants.variant=contained,active=true */
.REC-MuiButton-1vr8mk67:active {
  box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
}
/* End Component: components.MuiButton.variants.variant=contained,active=true */

/* Component: components.MuiButton.variants.variant=contained,disabled=true */
.REC-MuiButton-1vr8mk67:disabled {
  color: #bdbdbd;
  box-shadow: none;
  background-color: #e0e0e0;
}
/* End Component: components.MuiButton.variants.variant=contained,disabled=true */

/* Component: components.MuiButton.variants.variant=outlined,hover=true */
/* End Component: components.MuiButton.variants.variant=outlined,hover=true */

/* Component: components.MuiButton.variants.variant=outlined,disabled=true */
.REC-MuiButton-1v14r6y87:disabled {
  color: #bdbdbd;
}
/* End Component: components.MuiButton.variants.variant=outlined,disabled=true */
/* End Component: components.MuiButton */

/* END COMPONENTS */
